.votebutton:hover {
  animation: ratingDance 4s infinite;
}
.threadicon:hover {
  animation: ratingDance 4s infinite;
}
 .navbar-item.logo:hover {
  animation: ratingDance 4s infinite;
}
.forumicon:hover {
  animation: ratingDance 4s infinite;
}
.mdi-toolbar:hover {
  animation: ratingDance 4s infinite;
}

.votes .votelist .voteinfo {
  overflow: visible;
}

.postblock .postfoot .left .votebutton {
  opacity: 0.8;
}

@keyframes ratingDance {
  0% {
    transform: rotate(15deg) scale(1);
    filter: drop-shadow(3px 3px 6px #ffcc00);
  }
  25% {
    transform: rotate(-15deg) scale(1.2);
    filter: drop-shadow(-3px 3px 6px #ffcc00);
  }
  50% {
    transform: rotate(15deg) scale(1);
    filter: drop-shadow(-3px -3px 6px #ffcc00);
  }
  75% {
    transform: rotate(-15deg) scale(1.2);
    filter: drop-shadow(3px -3px 6px #ffcc00);
  }
  100% {
    transform: rotate(15deg) scale(1);
    filter: drop-shadow(3px 3px 6px #ffcc00);
  }
}
